#MARK: {Common}
*.bak
*.gho
*.lcov
*.log
*.ori
*.orig
*.temp
*.tmp
.cache/
.temp/
.tmp/
.env
.env.dev.local
.env.development.local
.env.local
.env.prod.local
.env.production.local
.env.test.local

#MARK: {Archives & Packages}
*.7z
*.apk
*.bz2
*.bzip
*.bzip2
*.cab
*.crx
*.deb
*.dll
*.dmg
*.ear
*.egg
*.exe
*.gem
*.gz
*.gzip
*.iso
*.jar
*.lzma
*.msi
*.msix
*.msm
*.msp
*.nar
*.rar
*.rpm
*.tar
*.tar.gz
*.tgz
*.txz
*.tzst
*.vsix
*.war
*.xar
*.xpi
*.xz
*.zip
*.zst

#MARK: {OS Linux}
.fuse_hidden*
.nfs*
.Trash-*
*~

#MARK: {OS Mac}
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Network Trash Folder
Temporary Items

#MARK: {OS Windows}
*.lnk
*.stackdump
$RECYCLE.BIN/
[Dd]esktop.ini
ehthumbs_vista.db
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable

#MARK: BowerIO
bower_components/

#MARK: CVS
CVS/
.cvsignore

#MARK: Diff
*.diff
*.patch

#MARK: Docusaurus
.docusaurus

#MARK: Dropbox
.dropbox
.dropbox.attr
.dropbox.cache

#MARK: DynamoDB
.dynamodb/

#MARK: ESLint
.eslintcache

#MARK: FuseBox
.fusebox/

#MARK: Godot
.godot/

#MARK: GoLang
go.work
go.work.sum

#MARK: Gradle
.gradle/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

#MARK: GruntJS
.grunt/

#MARK: Jekyll
.jekyll-cache/
.sass-cache/
.jekyll-metadata

#MARK: KDE
.directory

#MARK: LibreOffice
.~lock.*#

#MARK: MicroBundleJS
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

#MARK: Microsoft Office
*.~vsd*
*.xlk
~$*.doc*
~$*.ppt*
~$*.xls*
Backup of *.doc*

#MARK: Mono
.mono/
mono_crash.*.json

#MARK: NextJS
.next

#MARK: NodeJS
jspm_packages/
node_modules/
.node_repl_history
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

#MARK: NodeWaf
.lock-wscript

#MARK: NPM
.npm
npm-debug.log*

#MARK: NuxtJS
.nuxt

#MARK: ParcelJS
.cache
.parcel-cache

#MARK: PNPM
.pnpm-debug.log*

#MARK: Python
*.py[cod]
__pycache__/
.pybuilder/
.ipynb_checkpoints
.Python
*$py.class
ipython_config.py
pip-log.txt
pip-delete-this-directory.txt

#MARK: RustLang
*.rs.bk

#MARK: Serverless
.serverless/

#MARK: Snowpack
web_modules/

#MARK: StyleLint
.stylelintcache

#MARK: TernJS
.tern-port

#MARK: TypeScript
*.tsbuildinfo

#MARK: Visual Studio
.vs/

#MARK: Visual Studio Code
.history/
.vscode/
.vscode-test

#MARK: VuePress
.vuepress/

#MARK: XCode
xcuserdata/

#MARK: Yarn
.yarn/
.pnp.*
.yarn-integrity
yarn-debug.log*
yarn-error.log*

#MARK: {Custom}
